{% extends 'AppPagina/inicio.html' %}
{% load static %}

{%block titulo%}
    <h1 class="mb-5">Borrar Articulo </h1>
{%endblock titulo%}

{% block contenido %}
<form method="post">
    {% csrf_token %}
    <h4> Estas seguro que deseas borrar el articulo </br> 
    <h5> {{articulo.nombre}} {{articulo.marca}} - tipo: {{articulo.tipo}} - precio: {{articulo.precio}}
    <input type="submit" value="Eliminar"></br>
</form>
<a href = "{% url 'AppPagina:articulo_list'%}"> volver </a>

{% endblock contenido%}