{% extends 'AppPagina/inicio.html' %}
{% load static %}

{%block titulo%}
    <h1 class="mb-5">Buscar articulo </h1>
{%endblock titulo%}
    
    
    {%block contenido%}

        <h1>Buscar Articulo por Nombre</h1>
        <form method="get" action="">
            {{ form.as_p }}
            <button type="submit">Buscar</button>

        </form>

        {% if articulos %}
        <h2>Resultados de la búsqueda:</h2>
        <ul>
            {% for articulo in articulos %}
            <li>{{articulo.nombre}} - {{articulo.marca}} - {{articulo.tipo}} - {{articulo.precio}}
                <a href = ""> Ver</a>
                <a href = ""> Editar </a>
                <a href="{% url 'AppPagina:ArticuloDeleteView' articulo.pk %}"> Borrar </a>
            </li>
            {% endfor %}
        </ul>
        

        {% else %}
        <h3>no hay resultados</h3>
        {% endif %}
        <a href = "{% url 'AppPagina:articulo_list'%}"> volver </a>
        {% endblock contenido%}