{% extends 'AppPagina/inicio.html' %}
{% load static %}

{%block titulo%}
    <h1 class="mb-5">Lista vendedores </h1>
{%endblock titulo%}

{% block contenido %}
<div class = "conteiner">
    <h3 class = "mb-4" > Listar vendedores </h3>
    <a href = "{% url 'AppPagina:vendedor'%}"> Nuevo Vendedor </a>
    <ul class = "list-group">
        {%for c in vendedor%}
        <li class ="list-group-item">
            <p> {{c.nombre}} - {{c.apellido}} - {{c.dni}} - vendedor numero : {{c.num_vendedor}}
                <a href = "{% url 'AppPagina:VendedorDetailView' c.pk %}"> Ver</a>
                <a href = "{% url 'AppPagina:VendedorUpdateView' c.pk %}"> Editar </a>
                <a href="{% url 'AppPagina:VendedorDeleteView' c.pk %}"> Borrar </a>
            </p>
        </li>
        {%endfor%}
    </ul>
</div>
{% endblock contenido%}